{% extends "base.html" %} 
{% load humanize %}
{% load widget_tweaks %}
{% load static %}

{% block  content %}
<section class="main">
    <div class="main-top">
        <p>Portal de Trabajo</p>
    </div>
    
    <div class="main-body">
        <h1>Ofertas recientes</h1>
    

<div class="search_bar">

    <form method="GET">

        <div class="main-header">
            <ion-icon class="menu-bar" name="menu-outline"></ion-icon>
            <div class="search">
                {% render_field alertas_filtradas.form.titulo placeholder="busca tu chamba aqui..."%}
                <button type="submit" class="btn-search"><ion-icon name="search-outline"></ion-icon></button>
            </div>
        </div>

        <div class="sort-wrapper">
            <div class="sort">
                <div class="sort-list">
                    {% render_field alertas_filtradas.form.departamento %}
                </div>
            </div>
            <div class="sort">
                <div class="sort-list">
                    {% render_field alertas_filtradas.form.departamento %}
                </div>
            </div>
            <div class="sort">
                <div class="sort-list">
                    {% render_field alertas_filtradas.form.provincia %}
                </div>
            </div>
            <div class="sort">
                <div class="sort-list">
                    {% render_field alertas_filtradas.form.distrito %}
                </div>
            </div>
            <div class="sort">
                <div class="sort-list">
                    {% render_field alertas_filtradas.form.tipo_alerta %}
                </div>
            </div>
            <div class="sort">
                <div class="sort-list">
                    {% render_field alertas_filtradas.form.industria %}
                </div>
            </div>
        </div>
    </form>

</div>




<div class="wrapper">
    {% for alert in alertas_filtradas.qs %}
    <!--
    <div>
        <h3>{{alert.titulo}}</h3>
        <p>Salario: {{alert.salario|intcomma}}</p>
        <p>Ubicacion: {{alert.departamento}} - {{alert.provincia}} - {{alert.distrito}} </p>
        <p>Dirección: {{alert.direccion}}</p>
        <p>Industria: {{alert.industria}}</p>
        <p>Instancia: {{alert.tipo_alerta}}</p>
        <p>Empresa: {{alert.empresa}}</p>
        <p>Publicación: {{alert.apertura|naturaltime}}</p>
        <p>{{alert.apertura}}</p>
        <a href="{% url 'alerta-details' alert.pk %}">Más información</a> 
    </div>      
-->

    <div class="card">
        <div class="card-left blue-bg">
            <img src="{% static 'images/job.svg' %}">
        </div>
        <div class="card-center">
            <h3>{{alert.empresa}}</h3>
            <p class="card-detail">{{alert.industria}}</p>
            <p class="card-loc"><ion-icon name="location-outline"></ion-icon> {{alert.direccion}}, {{alert.distrito}}, {{alert.provincia}}, {{alert.departamento}}</p>
            <div class="card-sub">
                <p><ion-icon name="today-outline"></ion-icon> {{alert.apertura|naturaltime}}</p>
                <p><ion-icon name="hourglass-outline"></ion-icon> {{alert.tipo_alerta}}</p>
                <p><ion-icon name="people-outline"></ion-icon> Aplicantes no especificados</p>
            </div>
        </div>
        <div class="card-right">
            <div class="card-tag">
                <h5>Instancia</h5>
                <a href="#">{{alert.tipo_alerta}}</a>
            </div>
            <div class="card-salary">
                <p><b>${{alert.salario|intcomma}}</b> <span>/ año</span></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


    </div>

</section>
{% endblock content %}