{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<form  method="POST">
    {% csrf_token %}
    <div>
        <label for="titulo">Título:</label>
        {%render_field formulario.titulo %}
    </div>

    <div>
        <label for="salario">Salario:</label>
        {%render_field formulario.salario %}
    </div>

    <div>
        <label for="ubicacion">Ubicacion:</label>
        {%render_field formulario.ubicacion %}
    </div>

    <div>
        <label for="requerimientos">Requerimientos:</label>
        {%render_field formulario.requerimientos %}
    </div>

    <div>
        <label for="candidato_ideal">Candidato ideal:</label>
        {%render_field formulario.candidato_ideal %}
    </div>

    <div>
        <label for="disponible">Este trabajo está disponible</label>
        {%render_field formulario.disponible %}
    </div>


    <button type="submit">Crear</button>
</form>

{% endblock content %}


