{% extends "users/base.html" %}


{% block content  %}

<form  method="POST">
    {% csrf_token %}
    <div>
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
    </div>

    <div>
        <button type="submit">Iniciar sesión</button>
    </div>
    <hr>
    <p>No tiene una cuenta?</p>
    <a href="{% url 'AddUser-aplicante' %}">Registrate como aplicante</a>
    <br>
    <a href="{% url 'AddUser-reclutador' %}">Registrate como reclutador</a>
</form>

{% endblock content  %}
